.main-menu{
    display: flex;
    position: fixed;
    width: 240px;
    height: 100%;
    background: $gray-ogree;
    left: 0;
    border-top: solid 1px $dark-gray;
    color: $white-ogree;

    a{
        color: $white-ogree;
    }

    nav{
        width: 100%;
        padding-top: 30px;

        .menu{
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 0.8rem;
                font-weight: 400;

                .item{
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    height: 50px;
                    padding-left: 20px;

                    &:hover .fa-caret-left{
                        transform: rotate(-90deg);
                    }
                }

                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 0 40px 0 20px;
                }

                &:hover{
                    background: $green-ogree;
                }

                ul{
                    display: none;
                    opacity: 0;
                    background: $active-gray;

                    li{
                        height: 35px;

                        a{
                            font-size: 0.9rem;
                            padding-left: 40px;
                        }

                    }
                }

                &.alunos.active{
                    background: $green-ogree;

                    .fa-caret-left{
                        transform: rotate(-90deg);
                    }

                    ul{
                        display: block;
                        opacity: 1;
                    }
                }

                &.turmas.active{
                    background: $green-ogree;

                    .fa-caret-left{
                        transform: rotate(-90deg);
                    }

                    ul{
                        display: block;
                        opacity: 1;
                    }
                }

                &.planos.active{
                    background: $green-ogree;

                    .fa-caret-left{
                        transform: rotate(-90deg);
                    }

                    ul{
                        display: block;
                        opacity: 1;
                    }
                }

                &.financeiro.active{
                    background: $green-ogree;

                    .fa-caret-left{
                        transform: rotate(-90deg);
                    }

                    ul{
                        display: block;
                        opacity: 1;
                    }
                }

                &.usuarios.active{
                    background: $green-ogree;

                    .fa-caret-left{
                        transform: rotate(-90deg);
                    }

                    ul{
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }
    }
}