* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@import './variables.scss';
@import './header.scss';
@import './menu.scss';
@import './footer.scss';
@import './dashboard.scss'