/*Colors*/

/*Base*/
$green-ogree: #709336;
$gray-ogree: #3a3c42;
$white-ogree: #f3f4ef;

/*gray scale*/
$dark-gray: #3f3f3f;
$medium-gray: #4f4f4f;
$light-gray: #636363;

/*green scale*/
$green-900: #005562;
$green-700: #0e8174;
$green-500: #6eba8c;
$green-300: #10c4b5;
$green-100: #b9f2a1;